<head>
    <title>공지사항 확인</title>
    <style>
	table {
	    margin-left: 30px;
    	    width: 90%;
    	    border-collapse: collapse;
	}

	th, td {
    	    padding: 10px;
    	    border: 1px solid #ddd;
    	    text-align: left;
	}

	th {
    	    background-color: #f2f2f2;
	}
    </style>
</head>
<body>
    <div class="main-content">
        <h2>공지사항 확인</h2>
        <div class="button-container">
            <% if (user && user.role === 'admin') { %>
                <a href="/manager/getNotice" class="btn">공지사항 작성하기</a>
            <% } %>
        </div>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>내용</th>
                    <th>지점명</th>
                    <% if (user && user.role === 'admin') { %>
                        <th>삭제</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% notices.forEach(notice => { %>
                <tr>
                    <td><%= notice.title %></td>
                    <td><%= moment(notice.created_at).format('YYYY-MM-DD HH:mm:ss') %></td>
                    <td><%= notice.contents %></td>
                    <td><%= notice.subscriberName %></td>
                    <% if (user && user.role === 'admin') { %>
                        <td>
                            <form action="/showNotice/deleteNotice/<%= notice.noticeNumber %>" method="POST">
                                <button type="submit" class="btn">삭제</button>
                            </form>
                        </td>
                    <% } %>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
