<head>
    <title>나의 예약 내역</title>
    <style>
        .status-section {
            display: flex;
            justify-content: space-around;
        }
        .machine-section {
            width: 50%;
            float: inline-start;
            padding: 10px;
        }
        .machine {
            background-color: #f0f0f0;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 20px;
            text-align: center;
            position: relative;
        }
        .machine.yellow {
            background-color: #FAEC97;
        }
        .machine.purple {
            background-color: #D8CEF6;
        }
        .machine span {
            display: block;
            margin: 10px 0;
        }
        .machine::after {
            content: attr(data-id);
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            padding: 5px 10px;
        }
        .left-align {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="main-content">
        <div id="reserv-status-container">
            <h1>예약 내역</h1>
            <% if (reservations && reservations.length > 0) { %>
                <% reservations.forEach((reservation, index) => {
                const currentTime = moment().tz('Asia/Seoul');
                const reservationTime = moment(reservation.reservationDate).tz('Asia/Seoul');
                const isTodayOrFuture = reservationTime.isSameOrAfter(currentTime, 'minutes');
                const isToday = reservationTime.isSame(currentTime, 'day');
                %>
                    <div class="machine <%= reservation.machine && reservation.machine.type === 'washer' ? 'purple' : 'yellow' %>" data-id="<%= index + 1 %>">
                        <span class="left-align">예약 시간 : <%= moment(reservation.reservationDate).format('YYYY-MM-DD HH:mm:ss') %> </span>
                        <span class="left-align">기계 종류 : <%= reservation.machine.type === 'washer' ? '세탁기' : '건조기' %> </span>
                        <span class="left-align">기계 번호 : <%= reservation.machineID %> </span>
                        <span class="left-align">지점 : <%= reservation.machine.branch3.branchName %> </span>
                        <span class="left-align">사용 현황 :
                         <%  if (isTodayOrFuture && reservation.machine.state === 'available') { %>  사용 전 <% }
                            else if (isToday && reservation.machine.state !== 'available') { %> 사용 중 <% }
                            else if (!isTodayOrFuture && reservation.machine.state === 'available') { %> 사용 완료 <% } %></span>
                     </div>
                 <% }); %>
             <% } else { %>
                 <p>예약 내역이 없습니다.</p>
             <% } %>
        </div>
    </div>
</body>
