<head>
    <title>사용 중인 기기</title>
    <style>
	.machine {
            background-color: #f0f0f0;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 20px;
            text-align: center;
            position: relative;
            width: 150px;
        }
        .machine.inactive {
            background-color: #d3d3d3;
            color: #555;
        }
        .machine span {
            display: block;
            margin: 10px 0;
        }
        .machine::after {
            content: attr(data-id);
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            padding: 5px 10px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/momentjs/2.29.1/moment-timezone.min.js"></script>
</head>
<body>
    <div class="main-content">
        <% if (reservations && reservations.length > 0) { %>
            <div class="machines-container">
                <% reservations.forEach((reservation, index) => {
                    const currentTime = moment().tz('Asia/Seoul');
                    const reservationTime = moment(reservation.reservationDate).tz('Asia/Seoul');
                    const isPast = reservationTime.isBefore(currentTime);
                    const isNow = reservationTime.isSameOrAfter(currentTime, 'minutes');
                    const isToday = reservationTime.isSame(currentTime, 'day');
                %>
                    <div class="machine <%= reservation.machine && reservation.machine.type === 'washer' ? 'purple' : 'yellow' %>" data-id="<%= index + 1 %>">
                        <span class="left-align">예약 시간 : <%= moment(reservation.reservationDate).format('YYYY-MM-DD HH:mm:ss') %> </span>
                        <span class="left-align">기계 종류 : <%= reservation.machine.type === 'washer' ? '세탁기' : '건조기' %> </span>
                        <span class="left-align">기계 번호 : <%= reservation.machineID %> </span>
                        <span class="left-align">지점 : <%= reservation.machine.branch3.branchName %> </span>
                        <span class="left-align">사용 현황 :
                        <%  if (isPast && reservation.machine.state === 'available') { %>  사용 완료 <% }
                            else if (isNow && reservation.machine.state === 'available') { %> 사용 전 <% }
                            else if (isToday && reservation.machine.state !== 'available') { %> 사용 중 <% } %></span>
                        <% if (reservation.machine.state === 'in_use') { %>
                            <%  const reservationTime = moment(reservation.reservationDate).add(3, 'minutes');
                                const diffDuration = moment.duration(reservationTime.diff(currentTime));
                                const minutes = Math.max(diffDuration.minutes(), 0);
                                const seconds = Math.max(diffDuration.seconds(), 0); %>
                                <span class="left-align">남은 사용 시간 : <%= minutes %>분 <%= seconds %>초 </span>
                        <% } %>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p>사용중인 기기가 없습니다.</p>
        <% } %>
    </div>
</body>
