<!DOCTYPE html>
<html>
<head>
    <title>관리자 문의 확인</title>
    <style>

        table {
            margin: 50px auto;

            width: 90%;
            border-collapse: collapse; /* 테이블 셀 경계 합치기 */
        }
        th, td {
            border: 1px solid #ddd; /* 셀 경계 */
        	padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .left-align {
            text-align: left;
        }
        .replyButton {
            padding: 5px;
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            background-color: #D8CEF6; /* 버튼 배경색 */
            color: white; /* 버튼 텍스트 색상 */
            border: none; /* 버튼 테두리 없음 */
            border-radius: 10px; /* 버튼 모서리 둥글게 */
            cursor: pointer; /* 커서 모양 변경 */
            transition: background-color 0.3s; /* 배경색 변화에 트랜지션 적용 */
        }
    </style>
</head>
<body>
    <%
    // inquiries 배열이 비어 있지 않은 경우 첫 번째 문의의 지점 정보 추출
    const firstInquiry = inquiries[0];
    const branch = firstInquiry ? branches.find(branch => branch.branchID === firstInquiry.branchID) : null;
    %>

    <h2><%= branch ? branch.branchName : '알 수 없음' %> 문의 내역</h2>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>내용</th>
                <th>상태</th>
                <th>답장</th>
            </tr>
        </thead>
        <tbody>
            <% inquiries.forEach(function(inquiry) { %>
                <tr>
                    <td><%= inquiry.qnaNumber %></td>
                    <td class="left-align"><%= inquiry.content %></td>
                    <td><%= inquiry.answer ? '답장 완료' : '답장 전' %></td>
                    <td>
                        <% if (!inquiry.answer) { %>
                            <button class="replyButton" data-id="<%= inquiry.qnaNumber %>">작성</button>
                        <% } else { %>
                            <%= inquiry.answer %>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const replyButtons = document.querySelectorAll('.replyButton');

        replyButtons.forEach(button => {
            button.addEventListener('click', function() {
                const qnaNumber = button.getAttribute('data-id');
                window.location.href = `/manager/qnaReply?qnaNumber=${qnaNumber}`;
            });
        });
    });
</script>
